
.center
{
    width:700px;
    height:600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
/*/* styling various position of file size*/

.top
{
    width:10rem;
    height: 4rem;
   
     position:absolute;
     right:900px;
     top: 188px;
     font-size: 20px;
     border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(255,165,0);
    box-shadow: inset 20px 20px 50px black;
}
.bottom
{
    width:10rem;
    height: 4rem;
   
     position:absolute;
     left:590px;
     bottom:418px;
     font-size: 20px;
     border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(255,165,0);
    box-shadow: inset 20px 20px 50px black;
}
.right
{
    width:10rem;
    height: 4rem;
   
     position:absolute;
     right:808px;
     top:260px;
     font-size: 20px;
     border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(255,165,0);
    box-shadow: inset 20px 20px 50px black;
}

.left
{
    width:10rem;
    height: 4rem;
   
     position: absolute;;
     left:398px;
     top:260px;
     font-size: 20px;
     border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(255,165,0);
    box-shadow: inset 20px 20px 50px black;

}
#text
{
    margin-top:20px ;
    color: white;
}
 




/* styling for download button*/
#button-download
{
    background-color:rgb(206, 194, 194);
    width:18rem;
    height:6rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
      box-shadow: inset 10px 10px 50px #151313;


}

.download-name
{
    font-size: 26px;
    font-weight: 600;
    color:white ;
}

.download-icon
{
    width:0px;
    height:0px;
    
}

/* handling cases on hover */
#button-download:hover .download-icon
{
    
    width:70px;
    height:70px;
    transition:height 0.5s;

    transform:translate(0px,-7px);
    
}
#button-download:hover .download-name
{
    display: none;
}


/* select menu for top,right,bottoom,left */
.option-div select
{
    width: 10rem;
    height: 4rem;
    border: 1px solid black;
    font-size: 30px;
    border-radius: 15px;
    position: relative;
    top:0px;

}